{% extends "layout.html" %}

{% block content %}

    <div class="row">
        
        <div class="col-8">
            <div id="orange"><h2>Project: {{ proj }}</h2></div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Course ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Term</th>
                    <th scope="col">Enroll</th>
                </tr>
                </thead>
                <tbody>
                {% for data in courseData %}   
                <tr>
                    <td scope='row'>{{data.courseID }}</td>
                    <td>{{data.title}}</td>
                    <td>{{data.description}}</td>
                    <td>{{data.credits}}</td>
                    <td>{{data.term}}</td>
                    <td> 
                        <button>Enroll</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            {% if login %}
            <p>Logged in</p>
            {% else %}
            <p>NOT Logged in</p>
            {% endif %}
        </div>
    </div>

{% endblock %}






    
